@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

:root{
    --bg-dark: hsl(0,0%,10%);
    --bg-medium: hsl(0,0%,20%);
    --bg-light: hsl(0,0%,30%);
    --accent-main: hsl(203, 70%, 30%);
    --accent-secondary: hsl(180, 75%, 33%);
    --accent-secondary-light: hsl(180, 95%, 33%);
    --text-sharp: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 80%);
    --input-text: hsl(0, 0%, 10%);
}
/*Fonts*/
.pixel-font-400{
    font-family: "Bitcount Prop Single";
    font-weight: 400;
}

body{
    margin: 0;
    background-color: var(--bg-dark);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*Headder*/
.header{
    background-color: var(--bg-medium);
    padding-left: 10px;
    color: var(--accent-main);
     
}
header h1{
    margin: 0;
    
}
header h5{
    margin: 0;
    padding-bottom: 5px;
}

/*Output*/
.output-topbar{
    border-radius: 1.5rem;
    height: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    padding: 10px;
}
#output{
    background-color: var(--bg-dark);
    border: none;
    border-radius: 1.5rem;
    height: 80%;
    width: 90%;
    margin-left:4%;
    margin-top: 1%;
    color: white;
}
#output:focus{
    border: var(--accent-main) solid;
    outline: none;
}
#output-window{
    position: absolute;
    background-color: var(--bg-light);
    border-radius: 1.5rem;
    box-shadow: var(--accent-main) 0px 5px 20px;
    width: 500px;
    height: 25px;
    bottom: 10%;
    right: 3%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#output-window:open{
    height:300px;
    top: 40%;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: var(--accent-main) 0px 0px 10px;
}


/*Options & Preview*/
.content-wrapper{
    display: flex;
    columns: 2;
    width: 100%;
    height:fit-content;
}
#options{
    list-style: none;
    padding: 10px;
}
#options li{
    padding: 5px;
}
#options li input{
    padding:5px;
    border-radius: 1.5rem;
    border: none;
}
#options li input[type=file]::file-selector-button{
    border-radius: 1.5rem;
    padding: 5px;
    border: none;
    background-color: white;
    color: var(--input-text);
}
#options li input[type=file]::file-selector-button:hover{
    box-shadow: var(--accent-secondary-light) 0 0 7px;
}

/*Misc*/
.hidden{
    display: none;
}
.small{
    width:50px;
}